/*=== GLOBAL VIEW */
/*================*/
#stream {
	.box.category {
		&:not([data-unread="0"]) .box-title .title {
			font-weight: bold;
		}

		.box-title {
			padding: 1.5rem;
			background: none;

			a.title {
				color: var(--grey-dark);
				font-size: 1rem;
				font-weight: normal;
				text-decoration: none;
				text-align: right;
				text-transform: uppercase;
				letter-spacing: 1px;

				&:not([data-unread="0"])::after {
					margin: -0.5rem 0 0 1rem;
					padding: 0 0.75rem;
					background: var(--grey-light);
					border-radius: 12px;
					position: absolute;
					top: 1.75rem;
					left: 0;
					line-height: 1.5rem;
					text-align: center;
				}

				&:hover {
					color: var(--main-first);
				}
			}
		}

		.box-content {
			.item.feed {
				a {
					color: var(--main-font-color);
					font-weight: 400;

					&:hover {
						color: var(--main-first);
						text-decoration: none;
					}
				}
			}
		}
	}
}


/* the panel that appears in overlay to display the flows*/
#overlay {
	background: rgba(0, 0, 0, 0.65);
}

#panel {
	top: 3rem;
	left: 3rem;
	bottom: 3rem;
	right: 3rem;
	border-radius: 3px;
}
